%div.comment{ data: { id: "#{comment.id}" } }
  = link_to comment.post.user.name, user_path(comment.post.user)
  %span.date
    commented
    = time_ago_in_words(comment.created_at)
    ago
  %p
    = comment.body 
  = link_to 'Delete comment', post_comment_path(comment.post, comment), method: :delete, remote: true, confirm: 'Are you sure?'
  %hr
